.s-hero {
padding: 7.2rem;
margin-top: 8.8rem;
}

.s-hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s-hero .text {
    width: 100%;
    max-width: 640px;
}

.s-hero .text h1{
    margin-bottom: 2rem;
}

.s-hero .text p {
    margin-bottom: 5.6rem;
    max-width: 488px;
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--gray-colors-300);
}

.s-hero .text .btn-primary {
    padding: 1.7rem 3.7rem;
}

.s-hero .image{
    width: 100%;
    max-width: 480px;
    height: 49.6rem;
    background-color: var(--gray-colors-800);
    display: flex;
    align-items: center;
    justify-content: center;
}
